@use "sass:map";
@use "reboot";

// >>--------  6.12 According css start ----------<<

@mixin accordion_btn_mixin() {
  font-size: 20px;
  margin-bottom: 6px;
  font-family: var(--tabler-icons);
}
.app-accordion {
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 0.75rem;

  .accordion-item {
    .accordion-body {
      color: var(--font-light-color);
    }

    .accordion-button {
      font-size: 15px;
      font-weight: 500;

      &:focus,
      &:not(.collapsed) {
        box-shadow: none !important;
      }

      &:not(.collapsed) {
        &::after {
          content: "\ea62" !important;
          transform: none !important;
        }
      }

      &::after {
        background-image: none;
        content: "\ea5f";
        font-family: var(--tabler-icons);
      }
    }
    .accordion-icon{
      &:not(.collapsed) {
        &::after {
          content: "\ea5f" !important;
          transform: none !important;
        }
      }

      &::after {
        background-image: none;
        content: "\ea60";
        font-family: var(--tabler-icons);
      }
    }
    .accordion-icon2{
      &:not(.collapsed) {
        &::after {
          content: "\eb30" !important;
          @include accordion_btn_mixin();
        }
      }

      &::after {
        background-image: none;
        content: "\eaf8";
        @include accordion_btn_mixin();

      }
    }
    .accordion-icon3{
      &:not(.collapsed) {
        &::after {
          content: "\eade" !important;
          transform: none !important;
          @include accordion_btn_mixin();
        }
      }

      &::after {
        background-image: none;
        content: "\eb46";
        @include accordion_btn_mixin();
      }
    }
    .accordion-icon4{
      &:not(.collapsed) {
        &::after {
          content: "\eae1" !important;
          transform: none !important;
          @include accordion_btn_mixin();
        }
      }

      &::after {
        background-image: none;
        content: "\eae2";
        @include accordion_btn_mixin();
      }
    }

  }
}

@mixin accordion_mixin($name, $color) {
  .accordion-#{$name} {
    .accordion-item {
      border-color: rgba(#{$color}, 0.2);

      .accordion-button {
        color: rgba(#{$color}, 1);

        &[aria-expanded=true] {
          background-color: rgba(#{$color}, 1) !important;
          color: rgba(var(--white),1);
        }
      }
    }
  }

  .accordion-light-#{$name} {
    .accordion-item {
      border-color: rgba(#{$color}, 0.2);

      .accordion-button {
        color: rgba(#{$color}, 1);

        &[aria-expanded=true] {
          background-color: rgba(#{$color}, 0.10) !important;
          color: rgba(#{$color}, 1) !important;
        }
      }
    }
  }


  .accordion-outline-#{$name} {
    .accordion-item {
      border-color: rgba(#{$color}, 1);

      .accordion-button {
        color: rgba(#{$color}, 1);

        &[aria-expanded=true] {
          border-color: rgba(#{$color}, 0.1) !important;
          background-color: rgba(#{$color}, 0.1);
          color: rgba(#{$color}, 0.8) !important;
        }
      }
    }
  }
}

@each $name, $color in reboot.$colors {
  @include accordion_mixin(""+$name, map.get(reboot.$colors, $name));
}

// >>--------- 6.12 According css end ---------<<
