@use "sass:map";
@use "reboot";

// >>-------------  6.10 Alert css start  ------------- <<


@mixin alert_mixin($name, $color) {

    .alert-#{$name} {
        background-color: rgba(#{$color}, 1);
        color: rgba(var(--white),1);
        border: none;
    }
    .alert-outline-#{$name} {
        border: 1px solid rgba(#{$color}, 1);
        color: rgba(#{$color}, 1);
        &:hover {
            background-color: rgba(#{$color}, 1);
            color: rgba(var(--white),1);
            transition: var(--app-transition);
        }
    }
    .alert-light-#{$name} {
        background-color: rgba(#{$color}, 0.1);
        color: rgba(#{$color}, 1);
        &:hover {
            background-color: rgba(#{$color}, 0.2);
            border-color: rgba(#{$color}, 1);
            color: rgba(#{$color}, 1);
        }
    }
    .alert-light-border-#{$name}{
        border: 1px solid rgba(#{$color}, 1);
        background-color: rgba(#{$color}, 0.1);
        color: rgba(#{$color}, 1);
        &:hover {
            background-color: rgba(#{$color}, 0.2);
        }
    }
    .alert-border-#{$name} {
        border: 1px solid rgba(var(--secondary),.2) ;
        border-left: 4px solid rgba(#{$color}, 1);
        border-radius: var(--app-border-radius);

    }


}

@each $name, $color in reboot.$colors {
    @include alert_mixin(""+$name, map.get(reboot.$colors, $name));
}

.alert {
    border-radius: var(--app-border-radius);
}

.custom-alert{
    position: relative;
    overflow: hidden;
    z-index: 0;
    span{
        position: relative;
        z-index: 2;
    }
    &::before{
        position: absolute;
        height: 80px;
        width: 70px;
        content: "";
        z-index: -1;
        border-radius: 50%;
        background-color:var(--custom_alert);
        top: calc(100% - 14px);
        left: 7px;
    }
    &::after{
        position: absolute;
        height: 85px;
        width: 87px;
        content: "";
        z-index: -1;
        border-radius: 50%;
        background-color:var(--custom_alert);
        bottom: calc(100% - 34px);
        left: -9px;
    }
}

// >>-------------  6.10 Alert css end  ------------- <<

