// >>-------------   2.8 Box layout start  ------------- <<

.box-layout {

  .btn-request-box {
    .card-body {
      padding: 1.25rem 1rem;
    }

    h5 {
      font-size: 18px;

    }

    p {
      font-size: 12px;
    }

    .icon-btn {
      width: 25px !important;
      height: 25px !important;
    }
  }

  .team-content-box {
    padding: 0 4px 0 8px !important;

    a {
      font-size: 14px !important;
    }
  }

  .ticket-card {
    .avatar-group {
      .w-45 {
        width: 35px !important;
        height: 35px !important;
      }
    }

    .d-flex {
      flex-direction: column;
      align-items: start !important;
    }
  }

  .quick-access-card {
    .card-body {
      padding: 1.125rem 0.75rem !important;
    }

  }

  .content-overlay-text {
    h3 {
      font-size: 22px;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .card-placeholder {
    .btn {
      font-size: 13px !important;
    }
  }

  .appointment-card {
    .card-body {
      padding: 1.125rem 0.75rem !important;
    }

    .card-footer {
      .btn {
        padding: 6px 16px !important;
        font-size: 14px !important;
      }
    }
  }

  .team-details-card {
    h4 {
      font-size: 20px !important;
    }
  }

  .weather-card {
    .card-body {
      padding: 1.125rem 0.75rem !important;

      .bg-gradient-dark {
        width: 35px !important;
        height: 35px !important;
      }
    }
  }

  .icon-card-style {
    .card-footer,
    .card-body {
      padding: 1.125rem 0.75rem !important;
    }
  }

  .gradient-card-style {
    .btn {
      padding: 6px 16px !important;
      font-size: 14px !important;
    }
  }

  .app-countdown-background {
    .timer {
      gap: 8px;
      .countdown {
        width: 92px;
        height: 92px;
      }
      h6 {
        font-size: 22px !important;
      }
    }
  }

  .app-countdown-square {
    .timer {
      .countdown {
        width: 89px;
        height: 98px;
      }
    }

    span {
      font-size: 25px !important;
    }
  }

  .br-theme-bars-pill  {
    .br-widget{
      a{
        padding: 8px 10px;
      }
    }
  }

  @media screen and  (min-width:1400px) {
    .box-xxl-6{
      flex: 0 0 auto;
      width: 50%;
    }

  }

  @media (min-width: 992px) {
    .box-col-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
    .box-col-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  }
}


// >>-------------   2.8  Box layout end  ------------- <<
