// >>------------- 4.1  Calender css start  ------------- <<

@use "sass:map";
@use "reboot";

.app-calendar {
  .fc-addEventButton-button {
    display: none;
  }

  &.fc-theme-standard {
    th,
    td {
      border-color: rgba(var(--dark), 0.2);
    }

    border-color: rgba(var(--dark), 0.2);

    .fc-scrollgrid {
      border-color: rgba(var(--dark), 0.2);
      border-radius: var(--app-border-radius);
      overflow: hidden;
    }
  }

  .fc-toolbar-title {
    color: rgba(var(--dark), 0.75);
    font-weight: 600;
  }

  .fc-col-header-cell-cushion {
    font-size: 15px;
    color: rgba(var(--secondary), 0.75);
    cursor: default;
    padding: 10px 4px;
  }

  .fc-button-group {
    border-radius: 24px;
    overflow: hidden;
  }

  .fc-button-primary {
    background-color: rgba(var(--primary), 0.8) !important;
    border-color: rgba(var(--primary), 0.8);

    &:hover {
      border-color: transparent;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  .fc-button-active {
    background-color: rgba(var(--primary), 1) !important;
    border: 1px solid rgba(var(--primary), 1) !important;
  }

  .fc-daygrid-event-dot {
    border-color: rgba(var(--primary), 1);
  }
  .fc-popover-header {
    background-color: rgba(var(--primary), 1);
    color: rgba(var(--white), 1);
  }
  .fc-daygrid-day {
    .fc-daygrid-day-top {
      a {
        font-size: 13px;
        font-weight: 500;
      }
    }
    &.fc-day-today {
      background-color: rgba(var(--primary), 0.1);
      .fc-daygrid-day-top {
        a {
          font-weight: 500;
          color: rgba(var(--white), 1);
          background-color: rgba(var(--primary), 1);
        }
      }
    }
  }

  .fc-list-event-dot {
    border: calc(var(--fc-list-event-dot-width) / 2) solid
    rgba(var(--primary), 1);
  }

  &.fc {
    .fc-scrollgrid-sync-table,
    .fc-daygrid-body,
    .fc-col-header {
      width: 100% !important;
    }
  }
  .fc-button-group {
    button {
      padding: 0.8rem 0.75rem;
    }
  }

  .fc-daygrid-event:not(.fc-popover .fc-daygrid-event) {
    .list-event {
    }
  }

  .fc-event{
    background-color: transparent;
    .list-event{
      background-color: rgba(var(--primary),.2);
    }
  }

  .fc-event-draggable{
    border: 0;
  }
}

@mixin list_event_mixin($name, $color) {
  .event-#{$name} {
    background-color: transparent !important;
    color: rgba(#{$color}, 1) !important;

    .fc-event-main {
      color: rgba(#{$color}, 1) !important;
    }
  }
}

@each $name, $color in reboot.$colors {
  @include list_event_mixin("" + $name, map.get(reboot.$colors, $name));
}

@mixin list_event_subtle_mixin($name, $color) {
  .bg-#{$name}-subtle{
    border: 2px dashed rgba(#{$color}, 1) !important;
  }
}

@each $name, $color in reboot.$colors {
  @include list_event_subtle_mixin("" + $name, map.get(reboot.$colors, $name));
}



/* Drag and drop css */

.list-event-container{
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  //justify-content: space-between;
  .list-event {
    background-color: rgba(var(--white), 0.75) !important;
    padding: 0.75rem 1rem;
    cursor: all-scroll;
    font-size: 16px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: var(--app-border-radius);
    border: 1px solid rgba(var(--secondary), 0.4);
  }
}


.calendar-remove-check {
  padding: 0.75rem 1rem;

  &.form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .form-check-input {
      width: 2.5rem;
      height: 1.5rem;
      border: 2px solid rgba(var(--dark), 0.2);
      margin-left: 0;
    }

    .form-check-label {
      font-size: 15px;
      font-weight: 500;
      color: rgba(var(--dark), 0.75);
    }
  }
}

// >>------------- 4.1   Calender css end  ------------- <<
