// >>------------- 4.18 Checkout css start ------------- <<

.checkout-tab{
  .nav-item{
    .nav-link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 5px;
      .tab-box {
        text-align: center;
      }
    }
  }
}

.checkout-cart-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed rgba(var(--dark), 0.6);
  border-radius: 10px;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  .cart-images {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .cart-price-box {
    text-align: end;
    align-self: self-start !important;
  }
}

// >>------------- 4.18 Checkout css end ------------- <<
