// >>----------  7.6 countup css start -----------<<

.count-up-box{
    border: 2px dotted rgb(var(--primary),0.2);
}
.count-up-box2{
    border: 2px dotted rgb(var(--secondary),0.2);
}
.count-up-box3{
    border: 2px dotted rgb(var(--dark),0.2);
}
.customized-counter{
    display: flex;

    gap: 20px;
    .customized{
        border: 2px dotted rgb(var(--primary),0.3);
        font-size: 20px;
        height: auto;
        width: 200px;
        padding: 1rem ;
        border-radius: var(--bs-border-radius);

        i{
            font-size: 29px;
            margin: 0 auto;
            background-color: rgb(var(--info), 0.1);
            color: rgb(var(--info), 1);
            border: 1px dashed rgb(var(--info), 0.5);
            height: 50px;
            width: 50px;
            border-radius: 50%;
            box-shadow: var(--box-shadow);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    p{
        margin-top: 3px;
        text-align: center;
        color: rgb(var(--secondary),1);
    }
}
.under-tab-section{
    .under-tab{
        border-bottom: 0;
    }
}

// >>----------- 7.6 countup css end ------------<<
