// >>------------- 2.10  dark css start ------------- <<
body.dark {
  .faq-header{
    .bg-white-800 {
      background-color: rgba(var(--dark),.8) !important;
      &::placeholder{
       color: rgba(var(--white),.8) !important;
      }
    }
  }
  .apexcharts-legend-text{
    color: rgba(var(--dark),1) !important;
  }
  .apexcharts-text{
    tspan{
      filter: brightness(100);
    }
  }
  .apexcharts-tooltip{
    background-color: rgba(var(--dark),1) !important;
    color: rgba(var(--white),1) !important;
  }
  .trumbowyg-button-pane {
    button{
      filter: brightness(100);
    }
  }
}
// >>------------- 2.10  dark css end ------------- <<
