// >>-------  7.7 Draggable css start ----------<<

.clonic-menu-list {
  li {
    & + {
      li {
        margin-top: 1rem;
      }
    }
  }

  .clonic-menu-item {
    width: 100%;
    box-shadow: var(--box-shadow);
    padding: 18px;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: var(--app-border-radius);
    border: 1px dashed rgba(var(--dark), 0.2) !important;
    cursor: all-scroll;

    .clonic-menu-img {
      position: absolute;
    }

    .clonic-menu-content {
      margin-left: 45px;
    }
  }
}

.handle-list-group {
  .list-group-item {
    font-size: 16px;
    margin-bottom: 1rem;
    border-radius: var(--app-border-radius);

    .list-handle {
      margin-right: 0.5rem;
      font-size: 20px;
      cursor: all-scroll;
    }
  }
}

.grid-box-list {
  user-select: none;

  .grid-box {
    height: 80px;
    border: 1px dashed rgba(var(--dark), 0.2) !important;
    border-radius: var(--app-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: all-scroll;
  }

  .highlight {
    background-color: rgba(var(--light), .2);
    border-radius: var(--app-border-radius);

  }
}

.nested-sortable {
  .list-group-item {
    border: 1px dashed rgba(var(--dark), 0.2) !important;
    margin: 0.5rem;
    cursor: all-scroll;

  }
}

.draggable-card {
  .draggable-card-img {
    position: relative;

    img {
      border-radius: var(--app-border-radius);
    }

    .draggable-card-icon {
      position: absolute;
      right: 33px;
      bottom: -18px;

      span {
        box-shadow: var(--box-shadow);
      }
    }
  }

  .draggable-card-content {
    p {
      line-break: anywhere;
    }
  }
}

// >>-------  7.7 Draggable css end ---------<<
