// >>------ 6.13 Grid css start ------<<


.grid-page{
    .card-body{
        [class*="col"]{
            transition: var(--app-transition);
            &:hover{
                transition: var(--app-transition);
                transform: translateY(-1px);
               >div{
                background-color: rgba(var(--secondary),0.15) !important;
               }
            }
        }
    }
}

.grids{
    tr{
        td{
        border: 1px solid rgba(var(--secondary),.4);
    }

        & th{
            border: 1px solid rgba(var(--secondary),.4);
            font-weight: 600;
        }
    }
}

// >>-------------- 6.13  Grid css end --------------<<
