// >>-------------  2.4 header css start ------------- <<
.header-main{
  width: calc(100% - var(--sidebar-width));
  position: fixed;
  height: 65px;
  left: var(--sidebar-width);
  top: 0;
  z-index: 1001;
  right: 0;
  transition: var(--app-transition);
  background-color: rgba(var(--white), 1);
  border-bottom: 1px solid rgba(var(--secondary),.2);
  .container-fluid {
    padding: 0.7rem 2.5rem;

    .head-language{
      .head-icon{
        padding: 0.4rem 0.5rem !important;
        border: 1px solid rgba(var(--secondary), 0.2) !important;
      }
      .language-dropdown{
         border-radius: var(--app-border-radius);
         border: 1px solid rgba(var(--secondary), 0.2) !important;
      }
    }

    .head-icon{
      background-color: rgba(var(--white),1) ;
      color: rgba(var(--secondary), 1) ;
      border: 1px solid rgba(var(--secondary), 0.2) ;
      cursor: pointer;
      i{
        font-size: 1.2rem;
      }
    }
  }

}

.head-left{
  h4{
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
  }
}

.header-cart-canvas{
  height: 480px;
  user-select: none;
  border-radius: var(--app-border-radius);
  top: 60px !important;

  .offcanvas-footer{
    border-top:  1px solid rgba(var(--secondary),.2);
  }
  .head-cart-container{
    .cart-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 0.75rem 1rem;
      width: 100%;
      &+{
        .cart-box{
          border-top: 1px solid rgba(var(--secondary), 0.2);
        }
      }
      .cart-box-close{
        position: absolute;
        top: 0.625rem;
        right: 1rem;
      }
    }
  }
  .cart-list{
    width: 100%;
    overflow-x: auto;
  }
}

.header-notification-canvas {
  height: 400px;
  user-select: none;
  border-radius: var(--app-border-radius);
  top: 60px !important;

  .notification-message {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid rgba(var(--secondary), 0.2);
    transition: var(--app-transition);
    &:hover{
      .box-close{
        opacity: 1;
        visibility: visible;
      }
    }

    .message-images {
      position: absolute;
      top: 16px;
    }
    .message-content-box {
      margin-left: 45px;
      margin-right: 16px;
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .box-close{
      position: absolute;
      top: 0.625rem;
      right: 1rem;
      transition: var(--app-transition);
      opacity: 0;
      visibility: hidden;
    }
    .notification-avtar{
      bottom: 30px;

    }
  }
  .hidden-massage{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// >>-------------  2.4 header css end ------------- <<
