// >>-------------  15.1 Landing css start  ------------- <<

.landing-wrapper {
  background-color: rgba(var(--white), 1);
  background-image: url("../images/landing/landing-wrapper-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .container-fluid {
    padding: 4.5rem 1rem;
  }
}

.landing-title {
  position: relative;
  margin-bottom: 3.5rem;

  &.start-landing-title {
    p {
      max-width: 100%;
    }
  }

  &.after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(var(--primary)) 0%, rgb(var(--secondary)) 100%);
  }

  h2 {
    color: rgb(var(--primary), 1);
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1920 - 300)));
    line-height: calc(38px + (60 - 38) * ((100vw - 300px) / (1920 - 300)));
    color: rgba(var(--dark), 1);
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.25);


    .highlight-title {
      position: relative;
      background: linear-gradient(90deg, rgba(var(--primary), 1), rgba(var(--primary), .8), rgba(var(--primary), .6), rgba(var(--primary), .4));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: none;

    }
  }

  p {
    max-width: 60%;
    margin: 0 auto;
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1920 - 320)));
    margin-bottom: 0;
    color: rgba(var(--secondary), 1);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }


  &.landing-title-light {
    h2 {
      color: rgba(var(--white), 1);
    }

    p {
      color: rgba(var(--white), .8);
    }

    .title-badge {
      border: 1px solid rgba(var(--white), 0.2);
      color: rgba(var(--white), 1);
      background-color: rgba(var(--white), .10);
    }
  }

  &.title-start {
    p {
      margin: 0;
    }
  }
}

.landing-navbar {
  background-color: rgba(var(--primary), 1);
  border: 1px solid rgba(var(--primary), .1);
  box-shadow: var(--box-shadow);
  //backdrop-filter: blur(40px);
  border-radius: var(--app-border-radius);
  width: 100%;
  max-width: 1200px;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s all ease-in-out;

  &.landing-navbar-active {
    width: 100%;
    max-width: 100%;
    top: 0;
    border-radius: 0;
  }

  .navbar-toggler {
    filter: brightness(100) !important;
  }

  .navbar-nav {
    .nav-link {
      position: relative;
      font-size: 18px;
      font-weight: 500;
      color: rgba(var(--white), .75);
      padding: 0 1rem !important;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 0;
        height: 2px;
        background: rgb(var(--white), 1);
        transform: translate(-50%);
        transition: width .3s ease;
      }

      &.active {
        color: rgba(var(--white), 1);

        &:after {
          width: 25px;
        }
      }
    }
  }

  .btn-outline-white{
    &:hover{
      background-color: transparent !important;
    }
  }

}

.landing-hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 8.5rem 1.5rem 0;
  background-image: url("../images/landing/hero-bg.png");
  background-color: rgba(var(--dark), 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  &:before {
    box-shadow: inset 0 20px 30px -10px rgba(var(--dark), 0.6),
    inset 0 -80px 60px -20px rgba(var(--dark), 0.9),
    inset 0 -120px 80px -30px rgba(var(--dark), 0.7),
    inset 0 -160px 100px -40px rgba(var(--dark), 0.5);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    //border-radius: var(--app-border-radius);
    z-index: 1;
  }


  .landing-content {
    height: 100%;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
  }

  .landing-title-head {
    position: relative;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: calc(40px + (65 - 40) * ((100vw - 300px) / (1920 - 320)));
    line-height: calc(60px + (80 - 60) * ((100vw - 300px) / (1920 - 320)));
    text-align: center;
    color: rgba(var(--white), 1);
    z-index: 1;

    .highlight-txt {
      font-weight: 700;
      font-size: calc(45px + (80 - 45) * ((100vw - 300px) / (1920 - 320)));
    }

    .hero-vector {
      position: absolute;
      left: -185px;
      bottom: 0;
    }

    .hero-cards-box {
      position: relative;
      display: inline-block;

      .card-img {
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }
  }

  .landing-hero-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    max-width: 60%;
    margin: 1rem auto;
    color: rgba(var(--white), .75);
    font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1920 - 320)));
  }

  .landing-action {
    .btn {
      position: absolute;
      top: -30px;
      left: 42%;
      transform: rotate(10deg);
      border-radius: 50px;
      border: none !important;
      z-index: 1;

      &:hover,&:active ,&.active ,&.show,&:checked,&:focus,&:focus-visible{
        background-color: transparent;
      }


      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50px;
        border: none !important;
        padding: 2px;
        background: linear-gradient(45deg, rgba(var(--primary), 1), rgba(var(--white), .2));
        -webkit-mask: linear-gradient(rgba(var(--dark), 1) 0 0) content-box, linear-gradient(rgba(var(--dark), 1) 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
      }
    }

    &:before {
      content: "";
      width: 200px;
      height: calc(100% - 100px);
      position: absolute;
      border-right: 2px dashed rgba(var(--white), 0.75);
      border-bottom-right-radius: 200px;
      right: 50%;
      top: 15px;
      z-index: -1;
    }

  }
}

.features-section {
  //background-color: #f5f5f5;
  .features-card {
    position: relative;
    overflow: hidden;
    border: 0;
    box-shadow: none;
    background: linear-gradient(360deg, rgb(var(--white), 0) 25%, rgb(var(--white), 1) 50%, rgb(var(--white), 1) 75%, rgb(var(--white), 1) 100%);

    &.top-side {
      background: linear-gradient(180deg, rgb(var(--white), 0) 25%, rgb(var(--white), 1) 50%, rgb(var(--white), 1) 75%, rgb(var(--white), 1) 100%);

      .features-card-content {
        top: 0;
        bottom: auto;
      }
    }

    .features-card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem;
      width: 100%;
    }

    .feature-title {
      font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1920 - 320))) !important;
      font-weight: 600;
      background-image: linear-gradient(to right, rgba(var(--primary), 1), rgba(var(--success), 1), rgba(var(--warning), .6), rgba(var(--danger), .4));
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

  }
}

.pages-section {

  .nav-tabs {
    flex-direction: column;
    margin: 0 auto;

    .nav-item {
      max-width: 320px;

      .nav-link {
        position: relative;
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1920 - 320)));
        font-weight: 700;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        color: rgb(var(--dark), 0.75) !important;

        &:after {
          content: "";
          width: 220px;
          height: 18px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-image: url("../images/landing/tab-line.png");
          background-position: center top;
          background-size: cover;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
        }

        &.active {
          background-color: transparent !important;
          color: rgba(var(--dark), 1) !important;
          background: linear-gradient(90deg, rgba(var(--primary), 1), rgba(var(--primary), 0.8), rgba(var(--info), 0.6), rgba(var(--info), 0.4));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

  }

  .demo-card {
    overflow: hidden;
    border-radius: var(--app-border-radius);
    border: none;
    box-shadow: none;
    background: transparent;

    .card-body {
      padding: 0;

      .demo-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: var(--app-border-radius);

        h4 {
          font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1920 - 300)));
          cursor: pointer;
          position: relative;
          margin: 0;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background-color: rgba(var(--primary), 1);
            transition: width 0.3s ease;
          }
        }

      }
    }

    &:hover {
      .demo-box {
        h4 {
          color: rgba(var(--primary), 1);

          &::after {
            width: 100%;
          }
        }
      }
    }
  }


  .tab-scroll-box {
    max-height: 600px;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.card-section {
  background-color: rgba(var(--dark), 1);

  .card-details-list {
    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 0;
      font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1920 - 300)));
      font-weight: 500;
      color: rgba(var(--light), 1);
    }
  }
}

@keyframes scrollVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.dark-section {
  .dark-layout-box {
    position: relative;
    width: 100%;
    height: 600px;
    border: 6px solid rgba(var(--dark), 1);
    outline: 8px solid rgba(var(--dark), .4);
    border-radius: var(--app-border-radius);
    background-color: rgba(var(--dark), .6);

    img {
      width: 100%;
      display: block;
      animation: scrollVertical 20s linear infinite;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: var(--app-border-radius);
    }

    &:after {
      box-shadow: inset 0px -150px 100px -13px rgb(var(--primary), 0.4);
      left: 0;
      top: 0;
    }

    &:before {
      box-shadow: inset 0px 150px 100px -13px rgb(var(--dark), 0.8);
      right: 0;
      bottom: 0;
    }
  }

  .dark-icon-box {
    position: absolute;
    bottom: 30px;
    left: -50px;
  }
}

.element-card {
  border: 0;
  background: linear-gradient(128deg, rgba(var(--primary), 0.4) 0%, rgba(var(--white), 1) 50%);

  h3 {
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1920 - 300)));
  }

  &.element-success {
    background: linear-gradient(128deg, rgba(var(--success), 0.4) 0%, rgba(var(--white), 1) 50%);
  }

  &.element-warning {
    background: linear-gradient(128deg, rgba(var(--warning), 0.4) 0%, rgba(var(--white), 1) 50%);
  }

  &.element-danger {
    background: linear-gradient(128deg, rgba(var(--danger), 0.4) 0%, rgba(var(--white), 1) 50%);
  }

  &.element-dark {
    background: linear-gradient(128deg, rgba(var(--dark), 0.4) 0%, rgba(var(--white), 1) 50%);
  }

  &.element-secondary {
    background: linear-gradient(128deg, rgba(var(--secondary), 0.4) 0%, rgba(var(--white), 1) 50%);
  }
}

.plans-section {
  .landing-pricing-card {
    background: linear-gradient(180deg, rgba(var(--info), 0.2), rgb(var(--white), 1));
    border-bottom: 0;
    border-top-left-radius: var(--app-border-radius);
    border-top-right-radius: var(--app-border-radius);
    padding: 30px;
    height: 100%;
    position: relative;
    transition: all 0.3s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 2px;
      border-radius: inherit;
      background: linear-gradient(180deg, rgba(var(--info), .4), rgba(var(--info), 0.2));
      clip-path: inset(0 0 2px 0);
      -webkit-mask: linear-gradient(rgba(var(--white)) 0 0) content-box, linear-gradient(rgba(var(--white)) 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -1;
    }


    &.popular {
      background: linear-gradient(180deg, rgba(var(--primary), 0.2), rgb(var(--white), 1));
      transform: translateY(32px);

      &::before {
        background: linear-gradient(180deg, rgba(var(--primary), 1), rgba(var(--primary), 0.2));
      }
    }

    .popular-badge {
      position: absolute;
      top: -14px;
      right: 20px;
      transform: rotate(-12deg);
      background: rgba(var(--primary), 1);
      color: rgba(var(--white), 1);
      padding: 6px 14px;
      font-size: 12px;
      border-radius: 20px;
      text-transform: uppercase;
    }


    .features {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-left: 22px;
        margin-bottom: 10px;
        position: relative;
        font-size: 14px;

        &::before {
          content: "\ea5e";
          font-family: "tabler-icons" !important;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.landing-footer {
  position: relative;
  overflow: hidden;
  background-image: url("../images/landing/footer-bg.png");
  background-color: rgba(var(--dark), 1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container-fluid {
    .footer-section-logo {
      outline: 12px solid rgba(var(--white), .1);
      border: 10px solid rgba(var(--primary), .4);

    }

    .footer-content {
      .logo-avatar {
        outline: 8px solid rgba(var(--primary), .4);
        margin-bottom: 1.5rem;
      }

      h1 {
        font-size: calc(32px + (50 - 32) * ((100vw - 300px) / (1920 - 300)));
        font-weight: 600;
        color: rgba(var(--white), 1);
      }

      p {
        max-width: 60%;
        font-size: 16px;
        font-weight: 500;
        color: rgb(var(--light), 1);
        margin: 1rem auto;
      }


      .footer-btn {
        margin-top: 0;

        .btn {
          padding: 12px 25px;
          margin: 0.2rem;
          border-radius: 25px;
        }
      }
    }
  }
}

//---- landing responsive css
@media screen and (max-width: 1660px) {
  .landing-hero-section {
    .landing-action {
      .btn {
        top: -56px;
        left: 50%;
        transform: rotate(10deg);
      }

      &:before {
        height: calc(100% - 100px);
        right: 42%;
        top: -8px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .landing-hero-section {
    p {
      max-width: 100%;
    }
  }

  .landing-navbar {
    width: 100%;
    max-width: 100%;
    top: 0;
    border-radius: 0;
  }

  .landing-hero-section {
    padding: 5rem 1.5rem 0;
  }
}

@media screen and (max-width: 1366px) {
  .card-section {
    padding: 4rem 0;

    .col-xl-5,
    .col-6 {
      width: 100%;
    }

    .card-details-list {
      justify-content: center;
    }

    .landing-title {
      text-align: center;

      p {
        margin: 0 auto;
      }
    }

    .card-layout-box {
      opacity: 0.04;
      position: absolute;
      bottom: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card-details-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      li {
        padding: 1rem;
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .landing-hero-section {

    .landing-hero-banner {
      justify-content: center;
    }

    .landing-action {
      .btn {
        top: -56px;
        left: auto;
        right: 0;
        transform: rotate(10deg);
      }
      &:before {
        right: 65px;
      }
    }
  }

  .landing-hero-banner {
    .hero-right-card {
      display: none;
    }
  }

  .dark-section {
    .landing-title {
      &.title-start {
        text-align: center;
        margin-bottom: 2rem;

        p {
          margin: 0 auto;
          max-width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .landing-navbar-container {
    .navbar-toggler {
      border: none;

      .navbar-toggler-icon {
        border: 0;
      }

      &:focus {
        box-shadow: none;
      }
    }


    .navbar-collapse {
      position: fixed;
      width: 320px;
      height: 100% !important;
      min-height: 100dvh;
      left: -2px;
      top: -1px;
      background-color: rgba(var(--white), 1);
      overflow: auto;
      border-right: 1px solid rgba(var(--secondary), 0.2);
      transform: translateX(-100%);
      transition: transform 0.35s ease !important;

      .landing-toggle-btn{
        position: absolute;
        right: 1rem;
        top: 1rem;
      }

      &.show {
        transform: translateX(0);
      }

      &.collapsing {
        transform: translateX(-100%);
      }

      .navbar-nav {
        .nav-link {
          color: rgba(var(--dark), 0.75);
          padding: 0.75rem 1rem !important;

          &:after {
            width: 3px;
            height: 25px;
            left: 1px;
            top: 50%;
            transform: translate(0, -50%);
          }

          &.active {
            background: linear-gradient(to right, rgba(var(--primary), 0.1), rgba(var(--primary), 0.1), rgba(var(--white), 0));
            color: rgba(var(--primary), 1);

            &:after {
              background: rgba(var(--primary), 1);
            }
          }
        }
      }

      .nav-action-box {
        position: absolute;
        bottom: 0;
        width: calc(100% - 10px);
        left: 5px;
        background-color: rgba(var(--white), 1);
        border-top: 1px solid rgba(var(--secondary), .4);
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: .5rem;

        .btn {
          width: 100%;

          &.btn-white {
            background-color: rgba(var(--primary), 1) !important;
            color: rgba(var(--white), 1) !important;
          }

          &.btn-outline-white {
            border-color: rgba(var(--primary), 1) !important;
            color: rgba(var(--primary), 1) !important;
            margin-left: 0 !important;
          }
        }
      }


    }
  }

  .pages-section {
    .nav-tabs {
      flex-direction: row;
      justify-content: center;

      .nav-item {
        .nav-link {
          &:after {
            content: "";
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .landing-title {
    margin-bottom: 2.5rem;
  }

  .dark-section {

    .landing-title {
      br {
        display: none;
      }

      &.title-start {
        p {
          margin: 0;
          max-width: 100%;
        }
      }
    }

    .dark-layout-box {
      position: relative;
      width: 100%;
      height: 460px;

    }

    .dark-icon-box {
      img {
        max-width: 200px;
      }
    }
  }

  .landing-footer {
    .container-fluid {
      .footer-content {
        p {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing-title {
    p {
      max-width: 100%;
    }
  }

  section {
    .container-fluid {
      padding: 3.5rem 1rem;
    }
  }

  .dark-section {

    .dark-layout-box {
      height: 320px;
    }

    .dark-icon-box {
      img {
        max-width: 120px;
      }
    }
  }

  .landing-footer {
    .container-fluid {
      .footer-content {
        .logo-avatar {
          width: 65px !important;
          height: 65px !important;
        }

        .footer-btn {
          .btn {
            padding: 8px 18px;
            font-size: 14px;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 576px) {
  section {
    .container-fluid {
      padding: 2.5rem 1rem;
    }
  }

  .landing-hero-section {
    min-height: 100%;

    .landing-title-head {
      .hero-vector {
        max-width: 85px;
        left: -80px;
        bottom: -30px;
      }
    }

    .container-fluid{
      padding: 0;
      .landing-title-head{
        .d-inline-block{
          display: inline-flex;
          font-size: 30px;
          line-height: normal;
        }
        .hero-cards-box{
          max-width: 168px;
        }
      }
    }
  }

  .landing-navbar-container {
    .navbar-brand {
      .w-80 {
        width: 60px !important;
      }
    }
  }

  .pages-section {
    .nav-tabs {
      .nav-item {
        .nav-link {
          padding: 0.5rem;
          margin: 0;
          font-size: 14px;

          &:after {
            height: 10px;
          }
        }
      }
    }
  }

  .card-section {
    .card-details-list {
      justify-content: flex-start;

      li {
        padding: 0.5rem;
      }
    }
  }

  .dark-section {

    .dark-layout-box {
      height: 200px;
    }

    .dark-icon-box {
      img {
        max-width: 100px;
      }
    }
  }

  .plans-section {
    .landing-pricing-card {
      padding: 1.5rem;

      .mt-3 {
        margin-top: .75rem !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .landing-hero-section {
    .landing-title-head {
      .hero-vector {
        position: absolute;
        left: -30px;
        bottom: 28px;

      }
    }
  }
}


// >>-------------  15.1 Landing css end  ------------- <<
