// >>------------- 11.3 List js css start  ------------- <<
.customer-list-table {
  thead {
    tr {
      th {
        &:nth-child(6),
        &:nth-child(5) {
          min-width: 120px;
        }
      }
    }
  }
}

.list-js-pagination {
  li {
    background-color: rgba(var(--primary), .1);
    border: 1px solid rgba(var(--primary), 1);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    a {
      color: rgb(var(--primary), 1) !important;
    }

    &.active {
      background: var(--primary-gradient);

      a {
        color: rgba(var(--white), 1) !important;
      }
    }
  }
}

.existing-list {

  > div {
    border-bottom: 1px solid rgba(var(--secondary), .4);
    padding: 0.75rem 0;

    &:last-child {
      border: none;
    }

    p {
      color: rgb(var(--secondary));
      font-size: 14px;
      overflow: hidden;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    h6 {
      color: rgb(var(--dark), 0.75);
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0;
    }

    .text-muted {
      font-size: 11px;
      white-space: nowrap;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.existing-list,
.list-tables {
  h6 {
    color: rgb(var(--dark), );
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
  }
  p {
    color: rgb(var(--secondary));
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 0;
  }
}
// >>------------- 11.3 List js css end  ------------- <<
