// >>-------------  2.3 main css start ------------- <<

main{
    width: calc(100% - 62px);
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    .page-title{
        padding-top: 10px;
        padding-bottom: 15px;
    }
}


// >>-------------  2.3 main css end ------------- <<
