// >>------------- 5 Misc css start ------------- <<
@use "sass:map";
@use "reboot";


// --- 1. breadcrumb css---
.app-breadcrumb {
  .breadcrumb {
    border-left: 4px solid rgba(var(--primary)) !important;
  }
}

// -----2. shape  breadcrumb css ----
.shape-breadcrumbs {
  display: flex;
  overflow: auto;
  background: var(--primary-gradient);
  padding: 7px 15px;
  width: 100%;
  border-radius: 10px;


  li {
    white-space: nowrap;
    position: relative;
    padding: 10px 25px;
    text-align: center;
    color: rgba(var(--white), 1);
    display: inline-block;
    margin-left: -10px;
    border-radius: 6px;

    :before,
    :after {
      content: "";
      position: absolute;
      width: 21px;
      height: 22px;
      z-index: 1;
      right: -8px;
    }

    :before {
      bottom: 0;
      transform: skewX(-45deg);
    }

    :after {
      top: 0;
      transform: skewX(45deg);
    }

    &:last-child {
      :before,
      :after {
        display: none;
      }
    }

    &.active {
      background-color: white;

      :before,
      :after {
        background-color: white;

      }

      a {
        color: black;
        margin-left: 2px;
      }
    }

    a {
      color: white;
      margin-left: 18px;
    }
  }
}

// ------ 3.badged-breadcrumb------
.badged-breadcrump {
  display: flex;
  overflow: auto;
  padding: 0;
  margin: 0;
  border-radius: 25px 25px 5px 25px;

  li {
    white-space: nowrap;
    float: left;
    margin-right: 3px;
    position: relative;
    z-index: 1;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      width: 40px;
      height: 100%;
      background: rgba(var(--white));
      position: absolute;
      top: 0;
      right: -20px;
      z-index: -1;
    }

    &:nth-last-child(2) {
      &:after {
        display: none;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }

      display: block;
      padding: 10px 22px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 25px 25px 5px 25px;
      // box-shadow: 5px 0 5px -5px #333;
      margin-right: 0;
      color: rgba(var(--dark));


      background-color: rgba(var(--primary), 0.2);

    }

    a {
      display: block;
      padding: 10px 22px;
      font-size: 14px;
      border-radius: 25px 25px 5px 25px;
      box-shadow: 5px 0 5px -5px #333;
      background: var(--primary-gradient) !important;
      // color:rgba(2, 8, 38, 0.383);
      color: rgba(var(--white), 1)


    }
  }

}


// -------------4.rounded-breadcrump----------

.rounded-breadcrumbs {
  display: flex;
  overflow: auto;
  padding: 0;
  margin: 0;
  border-radius: 5px 25px 25px 5px;


  li {
    white-space: nowrap;
    float: left;
    margin-right: 3px;
    position: relative;
    z-index: 1;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      width: 40px;
      height: 100%;
      background-color: rgba(var(--primary), 1);
      position: absolute;
      top: 0;
      right: -20px;
      z-index: -1;
    }

    &:nth-last-child(2) {
      &:after {
        display: none;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }

      display: block;
      padding: 10px 22px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 0 25px 25px 0;
      // box-shadow: 5px 0 5px -5px #333;
      margin-right: 0;
      color: rgba(var(--primary));
      background-color: rgba(var(--primary), 0.1);
      margin-left: -15px;

    }

    a {
      display: block;
      padding: 10px 22px;
      font-size: 14px;
      border-radius: 0 25px 25px 0;
      // box-shadow: 5px 0 5px -5px #333;
      background-color: rgba(var(--primary), 1);

      color: rgba(var(--white), 1);


    }
  }
}


// ------ 5. line breadcrump css----
.line-breadcrumbs {
  li {
    display: inline-block;
    color: rgba(var(--dark), 0.75);
    font-weight: 500;

    & + li {
      &::before {
        content: "/";
        color: rgba(var(--secondary), 1);
        padding-left: 10px;
        padding-right: 10px;
      }

      &.active {
        a {
          color: rgba(var(--primary), 1);
        }
      }

      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

// ---- 6.circle breadcrump----
.circle-breadcrumbs {
  li {
    display: inline-block;
    position: relative;
    margin-right: 20px;

    & + {
      li {
        margin-left: 20px;
      }
    }

    &.active {
      a {
        color: rgba(var(--white), 1);
        background-color: rgba(var(--primary), 1);
      }
    }

    a {
      display: block;
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      text-align: center;
      border-radius: 50%;
      background-color: rgba(var(--secondary), 0.1);
      color: rgba(var(--dark), 0.75);

      &::after {
        content: ">";
        position: absolute;
        left: -25px;
        font-size: 20px;
      }
    }

    &:first-child {
      a {
        &::after {
          content: "";
        }
      }
    }
  }
}

// ----- 7.simple breadcrump-----
.simple-breadcrumbs {
  display: flex;
  overflow: auto;
  li {
    white-space: nowrap;
    display: inline-block;
    padding: 5px 15px;
    background: rgba(var(--secondary), 0.1);
    transform: skew(-20deg);
    cursor: pointer;

    a {
      display: block;
      transform: skew(20deg);
    }

    &.active {
      background: rgba(var(--primary), 1);

      a {
        color: rgba(var(--white), 1);
      }
    }
  }
}

// ---------simple shape shape-------
.simple-shape-breadcrumbs {
  display: flex;
  overflow: auto;
  li {
    white-space: nowrap;
    position: relative;
    background: rgba(var(--secondary), 0.1);
    padding: 5px 25px;
    text-align: center;
    display: inline-block;
    margin-left: 0;

    &:last-child {
      :before,
      :after {
        display: none;
      }
    }

    &.active {
      background-color: rgba(var(--primary), 1);

      a {
        color: rgba(var(--white), 1);
      }
    }
  }
}

.breadcrumb {
  flex-wrap: nowrap;
  border-radius: 5px;

  li {
    display: inline-block;
    color: rgba(var(--dark), 0.75);
    font-weight: 500;

    & + li {
      &::before {
        font-family: "tabler-icons";
        content: "\ea61" !important;
        padding: 0 !important;
      }

      &.active {
        color: rgba(var(--primary), 1);
      }
    }

    i {
      margin-right: 5px;
      line-height: 1.2;
    }
  }
}


// --------1. app pagination scss----------------

.app-pagination {
  gap: 10px;

  .page-item {
    .page-link {
      font-weight: 500;
      color: rgba(var(--primary));
      border-radius: 5px !important;

      &:focus {
        background-color: rgba(var(--white), 1);
        box-shadow: 0 0 0 0.25rem rgba(var(--primary), 0.3);
      }
    }

    &.active {
      .page-link {
        color: rgba(var(--white), 1);
        background-color: rgba(var(--primary), 1);
        border-color: rgba(var(--primary), 1);
      }
    }
  }
}

// -------2.round-pagination scss---------------
.round-pagination-link {
  background: rgba(var(--white), 1);
  border-radius: 50px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(var(--secondary), 0.2);
  width: 100%;
  height: auto;

  .pagination {
    margin-bottom: 0;
    gap: 8px;

    .page-link {
      border: none;
      color: rgba(var(--black), 1);
      border-radius: 50%;
      width: 36px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      padding: 0;
      background: transparent;

      &:hover {
        background-color: rgba(var(--primary), 0.2);
        color: rgba(var(--primary));
      }

      &.active {
        background: var(--primary-gradient);
        color: rgba(var(--white));

      }


    }

  }


}


// -----------steps 1 scss----------
.breadcrumbs {
  font-size: 18px;

  ul {

    display: flex;
  }

  li {
    display: flex;
    align-items: center;

    & + li {
      &::before {
        font-family: "tabler-icons";
        content: "\ea61" !important;
        padding: 0 !important;
      }
    }

    a {
      color: rgba(var(--secondary), 1) !important;
      text-decoration: none;
      padding: 0 5px;

      &.active {
        color: rgba(var(--primary), 1) !important;
        font-weight: bold;
      }
    }
  }
}

// ------------steps 2 scss----------------
.progress-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  overflow: auto;


  .progress-step {
    display: flex;
    align-items: center;
    cursor: pointer;

    .step-circle {
      width: 45px;
      height: 45px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      margin-right: 8px;

      background-color: rgba(var(--secondary), 1);
      color: rgba(var(--white));
    }

    .step-label {
      font-size: 14px;
      color: rgba(var(--secondary));
    }

    &.active {
      .step-circle {
        background-color: rgba(var(--primary));
        color: rgba(var(--white), 1);
      }

      .step-label {
        color: rgba(var(--primary));
        font-weight: bold;
      }
    }


  }

}


// -----------------steps 3-&4 scss-----------
.form-wizard {
  .form-wizard-header {
    position: relative;
  }

  .form-wizard-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;

    li {
      //   text-align: center;
      position: relative;
      width: 100%;

      &:after {
        content: "";
        position: absolute;
        top: 28px;
        // left: 50%;
        width: 100%;
        height: 2px;
        background-color: rgba(var(--secondary), 1);
        z-index: 0;
      }

      &:last-child:after {
        content: none;
      }

      .wizard-steps {
        width: 48px;
        height: 48px;
        background-color: rgba(var(--secondary), 1);
        color: rgba(var(--white), 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        z-index: 2;
        // margin: auto;
        position: relative;
        transition: var(--app-transition);
      }

      .step-label {
        margin-top: 8px;
        display: block;
        font-size: 14px;
        color: rgba(var(--dark), 1);


        &.active {
          color: rgba(var(--primary), 1);
          font-weight: 600;

        }
      }

      &.active,
      &.activated {
        .wizard-steps {
          background-color: rgba(var(--primary), 1);
          color: rgba(var(--white), 1);
        }

        &:after {
          background-color: rgba(var(--primary), 1);
        }
      }
    }
  }
}

// ----------------steps 5 scss---------------
.shape-step {
  display: flex;
  overflow: auto;
  li {
    white-space: nowrap;
    position: relative;
    background: rgba(var(--light), 1);
    padding: 15px 35px;
    text-align: center;
    color: rgba(var(--white), 1);
    display: inline-block;
    margin-left: -10px;

    :before,
    :after {
      content: "";
      position: absolute;
      width: 34px;
      height: 28px;
      z-index: 1;
      border-right: 12px solid rgba(var(--white), 1);
      right: -6px;
    }

    :before {
      bottom: 0;
      transform: skewX(-45deg);
    }

    :after {
      top: 0;
      transform: skewX(45deg);
    }

    &:last-child {
      :before,
      :after {
        display: none;
      }
    }

    &.active {
      background-color: rgba(var(--primary), 1);

      :before,
      :after {
        background-color: rgba(var(--primary), 1);
      }

      a {
        color: white;
      }
    }

    a {
      color: rgba(var(--dark));
      font-size: 16px;
    }
  }
}

// ----snippet-----
.snippet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
  cursor: pointer;

  .code {
    flex-grow: 1;
    position: relative;
    margin-right: 6px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 2px;
      background: rgba(var(--white), 0.3);
    }

  }

}

.copied-msg {
  position: absolute;
  top: -25px;
  right: 0;
  background: rgba(var(--success), 1);
  color: rgba(var(--white), 1);
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  transition: 0.3s ease;

  &.show {
    opacity: 1;
  }
}

// >>------------- 5 Misc css end ------------- <<
