// >>-------------  7.1  modal css start ------------- <<

.app-modal-sm{
  max-width: 340px;
}

.app-modal-lg{
  max-width: 600px;
}

.app-modal-xl{
  max-width: 800px;
}

[class*=bg-]{
    .btn-close{
        filter: brightness(0) invert(1);
    }
}
 .bg-none{
    background: none;
 }

.modal-btn{
button{
    margin-bottom: 10px;
    margin-right: 8px;
}
}

.canvas-footer{
  padding: 1rem;
  background-color: rgba(var(--white), 1);
}
// >>-------------  7.1  modal css end ------------- <<
