// >>-------------  4.14 Orders css start ------------- <<

.order-list-table {

  thead {
    tr {
      th:first-child {
        min-width: 150px;
      }
      th:nth-child(2) {
        min-width: 224px;
      }
      th:nth-child(3) {
        min-width: 180px;
      }
      th:nth-child(7) {
        min-width: 140px;
      }

    }
  }
}


// >>-------------  4.14 Orders css end ------------- <<
