// >>-------------  2.6 page-layout  css start ------------- <<

// ------------- side-nav-toggle ------------
.app-wrapper{
  &:not(&.sidebar-horizontal){
    .side-nav-toggle {
      .main-side-nav {
        transform: translateX(-100%);
      }

      ~ .app-content {
        padding-left: var(--semi-side-nav);

        .header-main {
          width: calc(100% - var(--semi-side-nav));
          left: var(--semi-side-nav);
        }
      }

      ~ .footer-container {
        width: calc(100% - var(--semi-side-nav));
        left: var(--semi-side-nav);
      }
    }
  }
}


.go-top {
  position: fixed;
  bottom: 3.5rem;
  right: -6px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  z-index: 1001;
  cursor: pointer;

  .progress-value {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background-color: rgba(var(--primary), 1);
    background: var(--primary-gradient);
    border-radius: 10px;
    display: grid;
    font-size: 24px;
    color: rgba(var(--white), 1);
    padding: 5px;
  }
}

.side-search{
  .form-control{
    padding: .375rem 2.5em .375rem .75rem;
  }
}

  // ------------- rtl layout  ------------
.layout-rtl {
  .app-wrapper{
    &:not(&.sidebar-horizontal){
      .side-nav-toggle {
        .main-side-nav {
          transform: translateX(100%);
        }

        ~ .app-content {
          padding-left: 0;
          padding-right: var(--semi-side-nav);

          .header-main {
            left: auto;
            right: var(--semi-side-nav);
          }
        }

        ~ .footer-container {
          left: auto;
          right: var(--semi-side-nav);
        }
      }
    }
  }

  .app-navbar {
    ul {
      padding-right: 0;
    }
  }

  .semi-side-nav {
    border-top-left-radius: var(--app-border-radius);
    border-bottom-left-radius: var(--app-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .navbar-menu-list {

      .nav-link {
        &:after {
          left: auto;
          right: -10px;
        }

      }
    }
  }

  .main-side-nav {
    padding-left: 0;
    padding-right: var(--semi-side-nav);

    .main-side-menu {
      > ul:not(.collapse) {
        > li {
          position: relative;

          .another-level,
          &:not(.no-sub) {
            > a {
              &::after {
                left: 12px;
                right: auto;
              }
            }
          }
        }
      }

      a {
        & + {
          ul {
            li {
              a {
                &:before {
                  left: auto;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .side-toggle {
    right: auto;
    left: -14px;
  }

  .side-search {
    .position-relative {
      i {
        right: auto;
        left: 24px;
      }
    }
  }

  .app-breadcrumbs{
    li{
      &:not(:last-child){
        &::after {
          margin-left: 0;
          margin-right: 0.75rem;
        }
      }
    }
  }

  .app-wrapper {
    .app-content {
      padding-left: 0;
      padding-right: var(--sidebar-width);
    }
  }

  .header-main {
    left: auto;
    right: var(--sidebar-width);
  }

  .canvas-settings,
  .header-notification-canvas,
  .header-cart-canvas {
    &.show:not(.hiding),
    &.showing {
      transform: none !important;
    }

    &.offcanvas-end {
      left: 0;
      right: unset;
      transform: translateX(-100%);

      .mx-2 {
        margin-right: 0 !important;
      }

      h6 {
        padding-left: 10px;
        padding-right: 0;
      }
    }

  }

  .head-cart-container {
    .cart-box {
      .cart-box-close {
        left: 1rem;
        right: auto;
      }
    }
  }

  .notification-message {
    .message-content-box {
      margin-left: 16px;
      margin-right: 45px;
    }

    .box-close {
      right: auto;
      left: 1rem;
    }
  }

  .footer-container {
    left: 0;
    right: var(--sidebar-width);

    .text-end {
      text-align: left !important;
    }
  }

  .theme-customizer-container {
    left: 0.75rem;
    right: auto;

    &.canvas-active {
      right: auto;
      left: 400px;
    }
  }



  @media screen and (max-width: 1199px) {
    .app-wrapper{
      &:not(&.sidebar-horizontal){
        .app-navbar {

          &:not(.side-nav-toggle) {
            &:after {
              left: auto;
              right: 0;
            }
          }

          ~ .app-content {
            padding-left: 0;
            padding-right: var(--semi-side-nav);

            .header-main {
              left: auto;
              right: var(--semi-side-nav);
            }
          }
        }
      }
    }

    .footer-container {
      width: calc(100% - var(--semi-side-nav));
      left: auto;
      right: var(--semi-side-nav);
    }
  }

  @media screen and (max-width: 576px) {
    .app-wrapper{
      &:not(&.sidebar-horizontal){
        .app-navbar {

          .semi-side-nav {
            width: 3.5rem;
            transform: translateX(0);

            &.semi-nav-toggle {
              transform: translateX(100%);
            }

            .navbar-menu-list {
              .nav-link {
                &:after {
                  left: auto;
                  right: -8px;
                }
              }
            }
          }

          .main-side-nav {
            padding-left: 0;
            padding-right: 3.5rem;

            .side-toggle {
              right: auto;
              left: 10px;
            }

          }

          ~ .app-content {
            padding-right: 0;

            .header-main {
              left: auto;
              right: 0;

              .container-fluid {
                .main-side-toggle {
                  margin-left: 0;
                  margin-right: -10px;
                }
              }
            }
          }

        }
        .side-nav-toggle  {
          ~ .footer-container{
            width: 100%;
            right: 0;
            padding: 0.5rem 1rem;
          }

        }
      }
    }

    .footer-container {
      width: 100%;
      left: 0;
      right: 0;
    }
  }
}

// ------------- box layout  ------------

.box-layout {
  &.dark{
    background-color: rgba(var(--dark),1);
  }
  .app-wrapper {
    margin: auto;
    width: 1400px;
    height: calc(100vh - 88px);
    border-radius: var(--app-border-radius);
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(var(--secondary), .2);
    box-shadow: var(--box-shadow);
    background-color: var(--bodybg-color);
  }

  .app-content {
    padding-left: var(--sidebar-width);
    min-height: calc(100% - 154px);
    overflow-y: auto;
  }

  .semi-side-nav,
  .main-side-nav {
    max-height: calc(100vh - 88px);
  }

  .main-side-nav {
    .nav-wrapper {
      height: calc(100vh - 380px);
    }
  }

  .semi-side-nav {
    .navbar-menu-list {
      width: 100%;
      height: calc(100vh - 230px);
    }
  }

  ~ .footer-container,
  ~ .app-breadcrumbs,
  .header-main {
    left: calc(50% - var(--sidebar-width));
    width: calc(1400px - 350px);
  }


  @media screen and (max-width: 1366px) {
    .app-wrapper {
      width: 1200px;
    }

    .footer-container,
    .header-main {
      left: var(--sidebar-width);
      width: calc(100% - var(--sidebar-width));
    }
  }
  @media screen and (max-width: 1199px) {
    .app-wrapper {
      width: 100%;
    }
    .footer-container,
    .header-main {
      left: var(--semi-side-nav);
      width: calc(100% - var(--semi-side-nav));
    }
  }
  @media screen and (max-width: 576px){
    .footer-container,
    .header-main {
      left: 0;
      width: 100%;
    }
  }
}

// ------------- dark layout  ------------

.sidebar-dark,
.dark {
  .semi-side-nav {
    .navbar-menu-list {
      .nav-link {
        color: rgba(var(--dark), 0.75);

        &.active {
          color: rgba(var(--dark), 1);
          background-color: rgba(var(--dark), 0.2);
        }
      }
    }

    .bg-white {
      background-color: rgba(var(--dark), 1);
    }
  }
}


// ------------- layout responsive  ------------

@media screen and (max-width: 1199px) {
  .app-wrapper{
    &:not(&.sidebar-horizontal) {
      .app-navbar {

        &:not(.side-nav-toggle) {
          .side-toggle {
            display: flex !important;
            align-items: center;
            justify-content: center;
          }

          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(var(--dark), .2);
            backdrop-filter: blur(1px);
            z-index: 1003;
          }
        }

        ~ .app-content {
          padding-left: var(--semi-side-nav);

          .header-main {
            width: calc(100% - var(--semi-side-nav));
            left: var(--semi-side-nav);
          }
        }

      }
    }
  }

  .footer-container {
    width: calc(100% - var(--semi-side-nav));
    left: var(--semi-side-nav);
  }
}

@media screen and (max-width: 768px) {
  .header-main {
    height: 60px;

    .container-fluid {
      //padding: 0.5rem 1.5rem;

      .head-icon {
        width: 35px !important;
        height: 35px !important;
      }

      .head-language {
        .head-icon {
          padding: 0.2rem 0.3rem !important;
          gap: 0 !important;
          width: auto !important;

          img {
            width: 20px !important;
            height: 20px !important;
          }
        }
      }
    }
  }
  .app-breadcrumbs {
    top: 60px;
    padding: 0.5rem 1.5rem;
  }
  .theme-customizer-container{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .app-wrapper{
    &:not(&.sidebar-horizontal) {
      .app-navbar {

        .semi-side-nav {
          width: 3.5rem;
          transform: translateX(0);

          &.semi-nav-toggle {
            transform: translateX(-100%);
          }

          .navbar-menu-list {
            .nav-link {
              font-size: 1.1rem;
              width: 40px !important;
              height: 40px !important;

              &:after {
                left: -8px;
              }
            }
          }
        }

        .main-side-nav {
          width: 20rem;
          padding-left: 3.5rem;


          .logo {
            padding: 0.75rem;

            img {
              width: 100px;
            }
          }

          .side-search {
            padding: 0.75rem;
          }

          //width: 300px;
          .side-toggle {
            right: 10px;
            top: 14px;
          }

          .main-side-menu {
            > ul:not(.collapse) {
              > li {
                > a {
                  padding: 0.625rem 0.75rem;
                  font-size: 15px;
                }
              }
            }
          }
        }

        ~ .app-content {
          padding-top: 95px;
          padding-left: 0;

          .header-main {
            width: 100%;
            height: 58px;
            left: 0;

            .container-fluid {
              padding: 0.5rem 1rem;

              .head-left {
                & > {
                  .gap-3 {
                    gap: 0.5rem !important;
                  }
                }

                h4 {
                  font-size: 14px !important;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                }
              }

              .main-side-toggle {
                margin-left: -10px;

                i {
                  font-size: 16px !important;
                }
              }

              .head-language {
                .head-icon {
                  img {
                    width: 25px !important;
                    height: 25px !important;
                  }

                  i {
                    display: none;
                  }
                }
              }
            }


          }

          main {
            width: calc(100% - 10px);
          }
        }


      }
      .side-nav-toggle{
        ~ .footer-container {
          width: 100%;
          left: 0;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .side-nav-toggle{
    ~ .footer-container {
      width: 100%;
      left: 0;
      padding: 0.5rem 1rem;
    }
  }

  .app-breadcrumbs {
    width: 100%;
    top: 58px;
  }

  main{
    width: calc(100% - 18px);
  }

  .header-main {
    .head-maximize-screen {
      display: none;
    }
  }

  .footer-container {
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
  }

}

// >>-------------  2.6 page-layout  css end ------------- <<
