// >>------------- 6.8 Prism css start  ------------- <<

code[class*=language-], pre[class*=language-] {
  color: rgba(var(--white), 0.75) !important;
}

.form-switch {
  .toggle-code {
    width: 42px;
    height: 24px;
    cursor: pointer;
  }
}

.code-overlay {
  background: rgb(var(--dark), 1) !important;
  font-size: 15px;
  position: absolute;
  z-index: 3;
  top: 59px;
  left: 0;
  width: 100%;
  height: calc(100% - 66px);
}

// >>------------- 6.8 Prism css end  ------------- <<
