// >>------------- 4.4 Project app css start ------------- <<

.project-card-body {
  position: relative;
  background-color: rgba(var(--white),1);
  border: 1px solid rgba(var(--secondary),.2);
  padding: 1rem 1.5rem;
  border-radius: var(--app-border-radius);
  .project-card-icon{
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.about-project-list{
  height: 385px;
  overflow: auto;
}

// >>------------- 4.4 Project app css end ------------- <<
