// >>------------- 4.13 Product list css start ------------- <<
.product-list-table {
  thead {
    tr {
      th:first-child {
        min-width: 120px;
      }
      th:nth-child(2) {
        min-width: 170px;

      }
      th:nth-child(7) {
        min-width: 130px;

      }
      th:nth-child(8) {
        min-width: 210px;

      }
    }
  }

}


// >>------------- 4.13 Product list css start ------------- <<
