// >>------------- 10.8  Range Slider css start ------------- <<
$gradientColors: (
        primary,
        secondary,
        success,
        warning,
        danger,
        info,
        light,
        dark
);

@mixin range_slider_gradient_mixin($name, $cssVarName) {
  .range-#{$name}{
    &.noUi-target {
      border: 1px dashed var(--#{$cssVarName}-gradient);
    }
    .noUi-connect{
      background-image: var(--#{$cssVarName}-gradient) !important;
    }
  }
}

@each $name in $gradientColors {
  @include range_slider_gradient_mixin($name, $name);
}


.app-range-slider {

  &.noUi-target {
    border-radius: 0.5rem;
    border: 1px dashed rgba(var(--secondary), .4);
    background-color: rgba(var(--secondary), .1);
  }

  .noUi-handle {
    height: 24px;
    width: 24px;
    top: -5px;
    right: -9px;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    &:after,
    &:before{
      display: none;
    }
  }

  .noUi-tooltip{
    display: block;
    position: absolute;
    border: 1px solid rgba(var(--primary),1);
    border-radius: 3px;
    background: rgba(var(--primary), .1);
    color: rgba(var(--primary));
    text-align: center;
    white-space: nowrap;
  }
}

.c1-color { background: rgb(var(--primary));}
.c2-color { background:rgb(var(--secondary));}
.c3-color { background: rgb(var(--success));}
.c4-color { background: rgb(var(--warning)); }
.c5-color {background:rgb(var(--info)); }

.color-picker-slider{
  .vertical{
    width: 16px;
    height: 200px;
    display: inline-flex;
   .noUi-origin {
      top: 0;
      width: 0;
     right: 4px;
    }
  }
  .color-picker{
    width: 200px;
    height: 150px;
    border-radius: var(--app-border-radius);
  }
  .red {
    .noUi-connect {
      background: rgb(var(--danger));
    }
  }

  .green {
    .noUi-connect {
      background: rgb(var(--success));
    }
  }

  .blue {
    .noUi-connect {
      background: rgb(var(--primary));
    }
  }
}



// >>------------- 10.8  Range Slider css end ------------- <<
