@use "sass:map";
@use "variables";

// >>-------------  1.2 reboot css start ------------- <<

body {
  font-size: var(--font-size);
  font-family: var(--theme-fonts);
  color: var(--font-color);
  background-color: var(--bodybg-color);
}

body.dark{
  .tooltip-inner {
    background-color: var(--bs-tooltip-bg);
    color: #ffffff !important;
  }
}

p{
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  margin-bottom: 5px;
}

a{
  color: rgba(var(--dark),1);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul{
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.list-disc{
  list-style-type: disc;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  color: var(--font-color);
}

h1{
  font-size: var(--h1-font-size);
}

h2{
  font-size: var(--h2-font-size);
}

h3{
  font-size: var(--h3-font-size);
}

h4{
  font-size: var(--h4-font-size);
  margin-bottom: 0;
}

h5{
  font-size: var(--h5-font-size);
  margin-bottom: 0;
}

h6{
  font-size: var(--h6-font-size);
}


code {
  color: rgba(var(--danger), 1);
  background-color: rgba(var(--danger), 0.10);
  padding: 0 3px;
  border-radius: 5px;
}

.btn{
  padding: 7px 25px;
  font-size: var(--btn-font-size);
  border-radius: 5px;
}

::selection {
  background: rgba(var(--primary),1);
  color: rgba(var(--white),1);
}

.ti {
  letter-spacing: -0.43em;
}

.cursor-pointer{
  cursor: pointer;
}

.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-inline-flex-center{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.app-scroll{
  &::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 4px;
    height: 4px;
    background-color: rgba(var(--secondary),0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--secondary),0.3);
    border-radius: 20px;
  }
}

.title-text {
  color: rgba(var(--dark), 0.8) !important;
  font-weight: 600;
}


.txt-ellipsis{
  max-width: calc(100% - 80px);
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.txt-ellipsis-1{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.txt-ellipsis-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txt-ellipsis-3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.txt-ellipsis-4{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

code[class*=language-], pre[class*=language-]{
  text-shadow: none ;
  color: rgba(var(--dark), 0.75) !important; ;
}
.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag{
  color: rgba(var(--danger),1);
}
.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url{
  color: rgba(var(--warning),1);
  background-color: transparent;
}
.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
  color: rgba(var(--success));
}



$colors: (
        primary: var(--primary),
        secondary: var(--secondary),
        success: var(--success),
        danger: var(--danger),
        warning: var(--warning),
        info: var(--info),
        light: var(--light),
        dark: var(--dark),
        white: var(--white),
);

// >>------------------  Size mixin start ----------------------------

$unit: 'px';
@mixin size-loop($classname, $stylename, $max, $offset) {
  $i: 0;
  @while $i <= $max {
    #{$classname + $i} {
      #{$stylename}: #{$i + $unit} !important;
    }

    $i: $i + $offset;
  }
}

// Margin css starts
@include size-loop('.mg-', 'margin',100,1);
@include size-loop('.mg-t-', 'margin-top',100,1);
@include size-loop('.mg-e-', 'margin-right',100,1);
@include size-loop('.mg-b-', 'margin-bottom',100,1);
@include size-loop('.mg-s-', 'margin-left',100,1);
// Margin css ends

// Paddings css starts
@include size-loop('.pa-', 'padding',40,1);
@include size-loop('.pa-t-', 'padding-top',40,1);
@include size-loop('.pa-e-', 'padding-right',40,1);
@include size-loop('.pa-b-', 'padding-bottom',40,1);
@include size-loop('.pa-s-', 'padding-left',40,1);

// Font size css starts
@include size-loop('.f-s-', 'font-size',80,1);

@include size-loop('.start-', 'left',40,1);

// image size css starts
@include size-loop('.h-', 'height',400,5);
@include size-loop('.w-', 'width',400,5);

.w-100 {
  width: 100% !important;
}
.h-100{
  height: 100% !important;
}

// >>------------------  Size mixin end ----------------------------

// >>------------------  Border mixin start ----------------------------


$units: 'px';
@mixin border_1($classname, $stylename,$name,$color,$max,$offset) {
  $i: 1;
  @while $i <= $max {
    #{$classname + $i + -$name} {
      #{$stylename}: #{$i+$units solid rgba(#{$color},1)} !important;
    }

    $i: $i + $offset;
  }
}

@each $name, $color in $colors {
  @include border_1('.b-', 'border',$name, map.get($colors, $name),20,1);
  @include border_1('.b-t-', 'border-top',$name, map.get($colors, $name),20,1);
  @include border_1('.b-b-', 'border-bottom',$name, map.get($colors, $name),20,1);
  @include border_1('.b-s-', 'border-left',$name, map.get($colors, $name),20,1);
  @include border_1('.b-e-', 'border-right',$name, map.get($colors, $name),20,1);
}


// Border style css start
@mixin border_style($classname, $stylename, $pattern, $name, $color, $max, $offset) {
  $i: 1;

  @while $i <= $max {
    #{$classname + $i + '-' + $name} {
      #{$stylename}: #{$i + $units} #{$pattern} rgba($color, 1) !important;
    }

    $i: $i + $offset;
  }
}

@each $name, $color in $colors {
  @include border_style(".dashed-", border, dashed, $name, $color, 20, 1);
  @include border_style(".dotted-", border, dotted, $name, $color, 20, 1);
}


$radius-unit: 1px; // correct way to store unit

@mixin make-radius($classname, $property, $max, $step, $with-before: false) {
  @for $i from 0 through $max {
    $value: $i * $radius-unit;

    #{$classname + $i} {
      #{$property}: $value !important;

      @if $with-before == true {
        &::before {
          #{$property}: $value !important;
        }
      }
    }
  }
}

@include make-radius('.b-r-', 'border-radius', 100, 1);

@include make-radius('.b-r-t-', 'border-top-left-radius',60, 1);
@include make-radius('.b-r-s-', 'border-top-right-radius',60, 1);
@include make-radius('.b-r-e-', 'border-bottom-left-radius',60, 1);
@include make-radius('.b-r-b-', 'border-bottom-right-radius',60, 1);


// >>------------------  Border mixin start ----------------------------

// >>------------------  opacity mixin start ----------------------------

@mixin opacity($classname, $stylename, $max, $offset) {
  $i: 0.1;
  $class : 1;
  @while $i <= $max {
    #{$classname + $class} {
      #{$stylename}: #{$i};
    }

    $class: $class+1;
    $i: $i + $offset;
  }
}

@include opacity('.o-', 'opacity',1,0.1);

// >>------------------  opacity mixin end ----------------------------

// >>------------------  font weight mixin start ----------------------------


@mixin font-loop($classname, $stylename, $max, $offset) {
  $i: 0;
  @while $i <= $max {
    #{$classname + $i} {
      #{$stylename}: #{$i} !important;
    }

    $i: $i + $offset;
  }
}

@include font-loop('.f-w-', 'font-weight',900,100);

// >>------------------  font weight mixin end ----------------------------

// >>------------------ text mixin end ----------------------------

@mixin text_mixin($name, $color) {

  .text-#{"#{$name}"} {
    color: rgba(#{$color}, 1) !important;

    &:hover {
      color: rgba(#{$color}, 0.8) !important;
      cursor: pointer;
    }
  }

  .text-light-#{"#{$name}"} {
    background-color: rgba(#{$color}, .1) !important;
    color: rgba(#{$color}, 1) !important;

    &:hover {
      color: rgba(#{$color}, 0.8) !important;
      cursor: pointer;
    }
  }

  .link-#{"#{$name}"} {
    color: rgba(#{$color}, 1) !important;

    &:hover {
      color: rgba(#{$color}, 0.8) !important;
      cursor: pointer;
    }
  }

  .txt-bg-#{"#{$name}"} {
    background-color: rgba(#{$color}, 0.1) !important;
    color: rgba(#{$color}, 1) !important;
    font-weight: 600;

    &:hover {
      color: rgba(#{$color}, 0.8) !important;
      cursor: pointer;
    }
  }
}

@each $name, $color in $colors {
  @include text_mixin($name, $color);
}

// >>------------------ text mixin end ----------------------------

.txt-span-ellipsis{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

// >>-------------  1.2 reboot css end ------------- <<
