
// >>-------------  2.2 sidebar css start ------------- <<
.app-navbar {
  display: flex;
  background-color: transparent;
}

.semi-side-nav {
  top: 0;
  position: fixed;
  flex-shrink: 0;
  width: 4rem;
  height: 100%;
  background: var(--dark-color-gradient) ;
  background-size: 100% 200%;
  border-top-right-radius: var(--app-border-radius);
  border-bottom-right-radius: var(--app-border-radius);
  z-index: 1005;

  .logo {
    span {
      padding: 0.75rem 0;
      border-radius: var(--app-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
  }

  .navbar-menu-list {
    width: 100%;
    height: calc(100vh - 144px);
    padding: 1rem 0;
    border-top: 1px solid rgba(var(--light), .2);

    .nav-link {
      position: relative;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      color: rgba(var(--white), .75);
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 15px;

      &:after {
        content: '';
        width: 4px;
        height: 20px;
        background: transparent;
        position: absolute;
        border-radius: 4px;
        left: -10px;
      }

      &.active {
        color: rgba(var(--white), 1);
        background-color: rgba(var(--white), .2);

        &:after {
          background-color: rgba(var(--white), 1);
        }
      }
    }
  }
}

.main-side-nav {
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  position: fixed;
  border-right: 1px solid rgba(var(--primary), .1);
  padding-left: var(--semi-side-nav);
  background-color: rgba(var(--white), 1) !important;
  background: linear-gradient(
                  358deg, rgb(var(--white), 1) 2%, rgb(var(--white), 1) 75%, rgb(var(--primary), 0.2) 100%);
  z-index: 1004;
  transition: all .3s ease;
  transform: translateX(0);

  .logo {
    padding: 1rem;
    width: 100%;

    img {
      width: 128px;
    }
  }

  .main-side-menu {
    padding: 0 0.75rem;

    > ul:not(.collapse) {

      > li {
        position: relative;

        > a {
          position: relative;
          border-radius: var(--app-border-radius);
          padding: 0.75rem 1rem;
          font-weight: 600;
          color: rgba(var(--dark), 1);
          width: 100%;
          display: flex;
          gap: 0.5rem;
          font-size: 16px;
          text-transform: capitalize;
          transition: var(--app-transition);

          i {
            font-size: 1.2rem;
          }

        }

        [aria-expanded=true] {
          background-color: rgba(var(--primary), .1);
          background-size: cover;
          background-position: right;
          color: rgba(var(--primary), 1);

          &::after {
            content: "\eaf2" !important;
            color: rgba(var(--primary), 1) !important;
          }
        }




        .another-level,
        &:not(.no-sub) {
          > a {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;

            &::after {
              font-family: "tabler-icons" !important;
              content: "\eb0b";
              width: 16px;
              height: 16px;
              color: rgba(var(--secondary), 1);
              border-radius: 4px;
              transition: var(--app-transition);
              position: absolute;
              font-size: 1rem;
              top: 12px;
              right: 12px;
            }
          }
        }

        .another-level {
          a {
            &::after {
              top: 4px;
            }
          }

          ul {
            margin-top: 0;

            li {
              a {
                color: rgba(var(--secondary), .8);
                &.active{
                  color: rgba(var(--dark), .8);
                }
              }
            }
          }


          [aria-expanded=true]{
            background-color: transparent;

          }
        }
      }
    }

    a {
      & + {
        ul {
          padding: 0 1rem 0 1rem;
          margin-top: 0.75rem;

          li {
            position: relative;

            a {
              width: 100%;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0.4rem 1rem;
              color: rgba(var(--dark), .75);
              font-weight: 500;
              border-radius: 0.75rem;
              transition: var(--app-transition);

              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 8px;
                width: 4px;
                height: 18px;
                border-radius: 12px;
                background-color: rgba(var(--primary), 0);

              }

              &.active {
                font-size: 1rem;
                color: rgba(var(--primary), 1);

                &:before {
                  background-color: rgba(var(--primary), 1);
                }
              }
            }
          }
        }
      }
    }

    .main-menu{
      .no-sub{
        a{
          &.active{
            margin-bottom: 0.5rem;
            background-color: rgba(var(--primary), .1);
            color: rgba(var(--primary), 1);
          }
        }
      }
    }
  }

  .nav-wrapper {
    height: calc(100vh - 300px);
    overflow: auto;
  }

}

.side-toggle {
  position: absolute;
  right: -14px;
  top: 12px;
}

.side-search {
  .form-control {
    background-color: rgba(var(--white), .8);
    border: 1px solid rgba(var(--light), .4);
  }

  i {
    position: absolute;
    top: 6px;
    right: 16px;
  }
}

.sidebar-shortcut-apps {
  width: 100%;
  border-top: 1px dashed rgba(var(--secondary), .2);
  border-bottom: 1px dashed rgba(var(--secondary), .2);
}

.sidebar-folder-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(var(--warning), 0.4), rgba(var(--warning), 0.1), rgba(var(--white), 0));
  border: 1px solid rgba(var(--warning), .4);
  border-bottom: 0;
  border-top-right-radius: var(--app-border-radius);
  border-top-left-radius: var(--app-border-radius);
  padding: 0.75rem 1rem;
}

// >>-------------  2.2 sidebar css end ------------- <<
