// >>-------------2.11  theme-gradient  css start ------------- <<

.theme-gradient-2{
  .main-side-nav {
    .logo{
      img{
        filter: brightness(0) saturate(100%) invert(28%) sepia(70%) saturate(1200%) hue-rotate(150deg) brightness(95%) contrast(105%);
      }
    }
  }
}
.theme-gradient-3{
  .main-side-nav {
    .logo{
      img{
        filter: brightness(0) saturate(100%) invert(23%) sepia(79%) saturate(1800%) hue-rotate(270deg) brightness(95%) contrast(105%);
      }
    }
  }
}
.theme-gradient-4{
  .main-side-nav {
    .logo{
      img{
        filter: brightness(0) saturate(100%) invert(48%) sepia(92%) saturate(1800%) hue-rotate(10deg) brightness(95%) contrast(105%);
      }
    }
  }
}
.theme-gradient-5{
  .main-side-nav {
    .logo{
      img{
        filter: brightness(0) saturate(100%) invert(20%) sepia(85%) saturate(2000%) hue-rotate(330deg) brightness(95%) contrast(105%);
      }
    }
  }
}
.theme-gradient-6{
  .main-side-nav {
    .logo{
      img{
        filter: brightness(0) saturate(100%) invert(34%) sepia(68%) saturate(1300%) hue-rotate(170deg) brightness(95%) contrast(105%);
      }
    }
  }
}
// >>-------------2.11  theme-gradient  css end ------------- <<
