// >>-------------  1.1 variables css start ------------- <<

:root {
    // Theme solid colors
    --primary: 33, 114, 219;
    --secondary: 120, 115, 110;
    --success: 52, 180, 120;
    --warning: 250, 172, 80;
    --danger: 239, 68, 68;
    --info: 6, 145, 169;
    --light: 218, 221, 233;
    --dark: 15, 30, 60;
    --white: 255, 255, 255;

    --bodybg-color: #eef2f5;
    --black: 0, 0, 0;
    --light-gray: #f4f7f8;
    --custom_alert: #c7c7d9;

    --bs-table-border-color: #c5c4c3;

    // Theme Gradient colors
    --primary-gradient: linear-gradient(to right,
            rgba(33, 114, 219, 1),
            rgba(10, 45, 120, 1)
    );
    --secondary-gradient: linear-gradient(to right,
            rgba(120, 115, 110, 1),
            rgba(64, 66, 74, 1)
    );
    --success-gradient: linear-gradient(to right,
            rgba(52, 180, 120, 1),
            rgba(0, 154, 185, 1)
    );
    --danger-gradient: linear-gradient(to right,
            rgb(241, 87, 87 ,1),
            rgb(241 , 80, 148 , 1)
    );
    --warning-gradient: linear-gradient(to right,
            rgba( 250, 172, 80 ,1),
            rgba(255, 111, 112, 1)
    );
    --info-gradient: linear-gradient(to right,
            rgba(6, 145, 169 , 1),
            rgba(79, 193, 241, 1)
    );
    --light-gradient: linear-gradient(to right,
            rgba(218, 221, 233, 1),
            rgba(200, 195, 255, 1)
    );
    --dark-gradient: linear-gradient(to right,
            rgba(15, 30, 60, 1),
            rgba(73, 97, 155, 1)
    );

    --dark-color-gradient: linear-gradient(to bottom, rgba(15, 30, 60, 1), rgba(73, 97, 155, 1));

    --theme-gradient-1: linear-gradient(135deg, rgba(33, 114, 219, 1) 0%, rgba(10, 45, 120, 1) 100%);
    --theme-gradient-2: linear-gradient(135deg, rgba(26, 66, 74, 1) 0%, rgba(8, 106, 68, 1) 100%);
    --theme-gradient-3: linear-gradient(135deg, rgba(161, 31, 199, 1) 0%, rgba(204, 45, 135, 1) 100%);
    --theme-gradient-4: linear-gradient(135deg, rgba(244, 128, 50, 1) 0%, rgba(44, 36, 14, 1) 100%);
    --theme-gradient-5: linear-gradient(135deg, rgba(217, 25, 85, 1) 0%, rgba(213, 110, 94, 1) 100%);
    --theme-gradient-6: linear-gradient(135deg, rgba(16, 110, 96, 1) 0%, rgba(8, 114, 200, 1) 100%);

    .theme-gradient-1{
        --primary: 33, 114, 219;
        --secondary: 120, 115, 110;
        --primary-gradient: linear-gradient(135deg, rgba(33, 114, 219, 1) 0%, rgba(10, 45, 120, 1) 100%)
    }

    .theme-gradient-2{
        --primary: 26, 66, 74;
        --secondary: 24, 59, 78;
        --primary-gradient: linear-gradient(135deg, rgba(26, 66, 74, 1) 0%, rgba(8, 106, 68, 1) 100%);
        --dark-color-gradient: linear-gradient(to bottom, rgba(15, 35, 40, 1), rgba(10, 85, 65, 1));
    }
    .theme-gradient-3{
        --primary: 161, 31, 199;
        --secondary: 134,142,150;
        --primary-gradient: linear-gradient(135deg, rgba(167, 57, 199, 1)  0%, rgba(30, 11, 22, 1) 100%);
        --dark-color-gradient: linear-gradient(to bottom, rgb(36, 8, 36, 1), rgb(36, 26, 38, 1));
    }
    .theme-gradient-4{
        --primary: 244, 128, 50;
        --secondary: 61, 61, 61;
        --primary-gradient: linear-gradient(135deg, rgba(244, 128, 50, 1) 0%, rgba(44, 36, 14, 1) 100%);
        --dark-color-gradient: linear-gradient(to bottom, rgba(61, 61, 61, 1), rgba(120, 70, 30, 1));
    }
    .theme-gradient-5{
        --primary: 217, 25, 85;
        --secondary: 34, 22, 25;
        --primary-gradient: linear-gradient(135deg, rgba(217, 25, 85, 1) 0%, rgba(213, 110, 94, 1) 100%);
        --dark-color-gradient: linear-gradient(to bottom, rgba(34, 22, 25, 1), rgba(80, 20, 45, 1));
    }
    .theme-gradient-6{
        --primary: 16, 110, 96;
        --secondary: 96, 114, 116;
        --primary-gradient: linear-gradient(135deg, rgba(16, 110, 96, 1) 0%, rgba(8, 114, 200, 1) 100%);
        --dark-color-gradient: linear-gradient(to bottom, rgba(12, 35, 40, 1), rgba(10, 80, 120, 1));
    }

    // Theme Social media colors
    --facebook : 59, 89, 152;
    --twitter : 85, 172, 238;
    --pinterest : 189, 8, 28;
    --linkedin : 0, 119, 181;
    --reddit : 255, 69, 0;
    --whatsapp : 67, 216, 84;
    --gmail : 234, 67, 53;
    --telegram : 0, 64, 93;
    --youtube : 205, 32, 31;
    --vimeo : 26, 183, 234;
    --behance : 23, 105, 255;
    --github : 0, 64, 93;
    --skype : 0, 175, 240;
    --snapchat : 255, 250, 55;


    // Typography
    --font-size: 14px;
    --p-font-size: 14px;
    --h1-font-size :  2.5rem;
    --h2-font-size : 2rem;
    --h3-font-size : 1.75rem;
    --h4-font-size : 1.25rem;
    --h5-font-size : 1.125rem;
    --h6-font-size : 1rem;
    --btn-font-size : 15px;
    --p-line-height: 1.6;
    --app-border-radius: 1.25rem;
    --bs-border-radius: 1.25rem;
    --bs-accordion-inner-border-radius: 0.6rem;
    --font-color: #082f32;
    --font-light-color: #a0a0b0;

    // Layout
    --sidebar-width: 22rem;
    --semi-side-nav: 4rem;
    --theme-fonts: "Lexend Deca", sans-serif;
    --tabler-icons : tabler-icons;
    --box-shadow: 0 0.15625rem 0.625rem 0 rgba(var(--dark),0.10);;
    --hover-shadow: 0 0.5rem 2rem  var(--light-gray);
    --app-transition: all 0.3s ease;


    @mixin btn_css($name, $color) {
        .btn-#{$name}{
            --bs-btn-disabled-bg: rgba(var(--#{$color}), 0.8);
            --bs-btn-disabled-border-color: rgba(var(--#{$color}), 0.8);
        }
        .btn-outline-#{$name}{
            --bs-btn-color: rgba(var(--#{$color}), 1);
            --bs-btn-border-color: rgba(var(--#{$color}), 1);
            --bs-btn-hover-bg: rgba(var(--#{$color}), 1);
            --bs-btn-hover-border-color: rgba(var(--#{$color}), 1);
            --bs-btn-active-bg: rgba(var(--#{$color}), 1);
            --bs-btn-active-border-color: rgba(var(--#{$color}), 1);
            --bs-btn-disabled-color: rgba(var(--#{$color}), 1);
            --bs-btn-disabled-border-color: rgba(var(--#{$color}), 1);
        }
    }
}



.sidebar-dark .app-navbar,
body.dark {
    --white:34, 37, 44;
    --black: #DCE2F0;
    --bodybg-color: #181820;
    --bs-body-bg: #24272d;
    --font-color: #fff;
    --light-gray: #24272d;
    //--light: 71, 71, 96;
    --light: 155,155,190;
    --dark:  234, 234, 236;
    --secondary: 185 ,179, 166;

    --link-color: #bcbcc5;
    --bs-border-color: #474a56;
    --bs-card-border-color: #5B5E69;
    --bs-form-control-bg: #24272d;
    --bs-body-color: #ffffff;
    --bs-secondary-color:#bcbcc5;
    --bs-list-group-color:#bcbcc5;
    --bs-body-color-rgb:#bcbcc5;
    --bs-text-opacity: 0;
    --bs-card-color:#bcbcc5;
    --bs-tertiary-bg: #242425;

    .default {
        --secondary: 185 ,179, 166;
    }

    .disabled>.page-link, .page-link.disabled {
        color:#bcbcc5;
        background-color: #333644;
        border-color: #474a56;
    }
}

body{
    &[text='small-text']{
        --font-size: 13px;
        --p-font-size: 13px;
        --h1-font-size :  2rem;
        --h2-font-size : 1.75rem;
        --h3-font-size : 1.25rem;
        --h4-font-size : 1.125rem;
        --h5-font-size : 1rem;
        --h6-font-size : 15px;
        --btn-font-size : 13px;
    }
    &[text='medium-text']{
        --font-size: 15px;
        --p-font-size: 15px;
        --h1-font-size : 3rem;
        --h2-font-size : 2.20rem;
        --h3-font-size : 2rem;
        --h4-font-size : 1.8rem;
        --h5-font-size : 1.25rem;
        --h6-font-size : 1.1rem;
        --btn-font-size : 16px;
    }
    &[text='large-text']{
        --font-size: 16px;
        --p-font-size: 16px;
        --h1-font-size :  2.75rem;
        --h2-font-size : 2.5rem;
        --h3-font-size : 2rem;
        --h4-font-size : 1.75rem;
        --h5-font-size : 1.25rem;
        --h6-font-size : 1.125rem;
        --btn-font-size : 17px;
    }
}

// >>-------------  1.1 variables css end ------------- <<