// >>-------------  3.3  widget  css start ------------- <<
.widget-grid{
  .coin-card {
    width: 100%;
    height: 188px;
    position: relative;
  }
}

@media screen and (max-width: 1399px){
  .widget-grid{
    .trader-slider {
      height: 278px;
    }
    .feedback-card{
      .app-form{
        margin-top: 1.5rem !important;
      }
      .submit-btn{
        margin-top: 1.5rem !important;
      }
      .emoji-label{
        margin-top: .5rem !important;
      }
       .coin-card {
        height: 205px;
      }
    }
  }

}

// >>-------------  3.3  widget  css end ------------- <<
